<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>Backend</servlet-name>
        <servlet-class>de.uni_passau.fim.dimis.rest2sparql.rest.Rest2SparqlServlet</servlet-class>

        <init-param>
            <param-name>engine</param-name>
            <param-value>bigdata</param-value>
            <!--<param-value>marmotta</param-value>-->
            <!--<param-value>virtuoso</param-value>-->
        </init-param>
        <init-param>
            <param-name>host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>8080</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>Backend</servlet-name>
        <url-pattern>/backend/*</url-pattern>
    </servlet-mapping>
</web-app>
