/* Custom CSS */

body {
    background-color: #f8f8f8;
}

/* Bootstrap overwrite */

.navbar {
    margin-bottom: 0;
    box-shadow: none;
    border: none;
}

.navbar-right {
    margin-right: 15px;
}

.hiddenTooltip {
    width: 1px;
    height: 1px;
    position: absolute;
}

/*Hover through tooltips*/
.tooltip.fade {
    pointer-events: none;
}

.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.75);
}

.tooltip.top .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.75);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(0, 0, 0, 0.75);
}

@media(min-width:768px) {
    .navbar-static-top form.navbar-right {
        margin-right: 0;
    }
}

/* Dropdown visible */
.navbar-collapse.in {
    overflow-y: visible;
}

/* Glyphicons */
a.side-glyph {
    position: relative;
    padding: 5px;
    top: -5px;
    right: -5px;
    display: inline-block;
    float: right;
}
a.side-glyph {
    color: #c0c0c0;
}
a.side-glyph:hover {
    color: inherit;
}

/* Plus Glyphicons in button */
#id_xPlus .glyphicon-plus,
#id_yPlus .glyphicon-plus,
#id_zPlus .glyphicon-plus,
#id_filterPlus .glyphicon-plus {
    color: #a0a0a0;
}

/* badges in buttons */
.btn .badge {
    font-size: 10px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.btn-default .badge {
    background-color: rgba(0, 0, 0, 0.5);
}

@media(min-width:768px) {

    /* button size in panels */
    .panel-body button .cube-button-text {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    /* button size in panels */
    .panel-body a .button-text,
    .panel-body button .button-text{
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    /* button size in panels */
    .panel-body a .filter-button-text,
    .panel-body button .filter-button-text {
        max-width: 110px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

/* button size in panels (all screen sizes) */
.panel-body a .button-text,
.panel-body button .button-text{
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
}

/* button size in panels (all screen sizes) */
.panel-body a .filter-button-text,
.panel-body button .filter-button-text,
.panel-body a .cube-button-text,
.panel-body button .cube-button-text {
    vertical-align: top;
    display: inline-block;
    padding-right: 5px;
}

/* Panel fade in */
#id_dimensionPanel,
#id_measurePanel,
#id_filterPanel,
#id_cancelButton,
#id_applyButton
#id_acceptArea {
    /*opacity: 0;  initially*/
}

/* flash highlight */
.highlight {
    transition: 0.5s all ease;
    box-shadow: 0 0 5px #80a0f0;
}

/* entity selection buttons (labels) */
#id_entityModalBody label.active {
    background-color: #CAF2AB;
    border-color: #82AD5F;
}

#id_entityModalBody label.active:hover {
    background-color: #c1e5a3;
    border-color: #82AD5F;
}

#id_entityModalBody label.active:active {
    background-color: #b4d699;
    border-color: #b4d699;
}

#id_entityModal .modal-header > h4 {
    margin-bottom: 5px;
}

/* X Y Z labels */
.panel-body > .form-group > label {
    position: relative;
    top: 5px;
    float: left;

    /*TODO: label klebt zu weit oben -> vertikal zentrieren!*/
}

.panel-body > .form-group:last-child {
    margin-bottom: 0;
}

.viz-area {
}

.viz-area > .panel-body {
    padding-top: 0;
}

@media(max-width:767px) {
    .viz-area {
        border-left: none;
        border-right: none;
        border-radius: 0px;
        margin-bottom: 0px;
    }
}

@media(min-width:768px) {
    .viz-area {
        margin: 0 15px 15px 300px;
    }

    .viz-area > .panel-body,
    .viz-area > .panel-footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.entity-button {
    padding-left: 0;
    padding-right: 5px;
}

.entity-button > label {
    width: 100%;
    overflow: hidden;
}

/* Result table */
#id_resultModalBody table td:first-child {
    text-align: right;
}

#id_resultModalBody table td {
    width: 50%;
}

#id_resultModalBody table th {
    font-size: 16px;
}

#id_resultModalBody {
    padding-bottom: 0;
}

/* Add Filter Modal */
#id_filterModalBody > .input-group > .input-group-btn:nth-child(2) > button {
    border-radius: 0;
    margin-right: -1px;
}

#id_filterInputLine input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#id_filterInputLine span.glyphicon {
    right: 20px;
}

/* Navigation sidebar and layout */

.sidebar {
    padding: 15px;
    border-radius: 0px;
}

@media(min-width:768px) {
    .sidebar {
        box-shadow: none;
        background: #f8f8f8;
        z-index: 1;
        position: absolute;
        width: 300px;
        margin-top: 0;
        padding: 0 15px 15px 15px!important;
    }
}

.dimension-divider {
    border-bottom: 1px solid #dddddd;
    margin: -10px -15px 10px -15px;
}

#id_xButtonArea,
#id_yButtonArea,
#id_zButtonArea {
    margin-left: 20px;
}

#id_xButtonArea > .btn-group,
#id_yButtonArea > .btn-group,
#id_zButtonArea > .btn-group,
#id_filterButtonArea > .btn-group,
#id_entityModalBody > .btn-group {
    margin-bottom: 5px;
}

.overlay-menu {
    z-index: 10;
    position: absolute;
}

/*
#id_loadingSign {
    width: 100px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.10);
    padding: 5px;
    margin: 50px auto;
    position: absolute;
    z-index: 50;
}*/

/* Three.js Styling */

.CSS3DTest {
    width: 100px;
    height: 30px;
    background-color: rgba(20,50,180,0.75);
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    color: white;
}