/* Custom Merger CSS */

.panel-heading > h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #909090;
}

.alert.alert-gray > h4 {
    margin: 0;
    color: #909090;
}

.navbar-header {
    float: none;
}

.btn-link[disabled] {
    opacity: 0.5;
}

#id_changeUserButton {
    float: right;
    margin-right: 15px;
}

/*alerts*/
.alert.alert-gray {
    background-image: linear-gradient(#F5F5F5, #E8E8E8);
    border-color: #DDD;
}

/*Table icons*/
td > .glyphicon {
    color: #c0c0c0;
}
td.success,
td.success .glyphicon {
    color: #97C086;
}
td.danger .glyphicon {
    color: #C08383;
}
.table td:first-child {
    text-align: right;
}
.table th:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(2),
.table td:nth-child(3) {
    text-align: center;
    width: 30%
}
.dimension-table td,
.measure-table td {
    vertical-align: middle !important;
}
.dimension-table td:first-child,
.measure-table td:first-child,
.dimension-table th:first-child,
.measure-table th:first-child {
    width: 30%;
}

.dimension-table th:last-child,
.measure-table th:last-child {
    min-width: 51px; /* for missing buttons */
}

.dimension-table td:last-child,
.measure-table td:last-child,
.dimension-table th:last-child,
.measure-table th:last-child {
    width: 1%;
}

/* disabled / replaced rows */
.table tr.replaced {
    background-color: #f8f8f8;
    color: #a0a0a0;
}
.table tr.replaced > td > b {
    color: #c0c0c0;
}

/*Add dimension popup*/
#id_addDimensionModalDropdown {
    width: 100%;
}
#id_addDimensionModalDropdown button.btn {
    width: 100%;
    max-width: 400px;
    text-align: left;
}
#id_addDimensionModalDropdown button.btn > .caret {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}
#id_addDimensionModalDropdown button.btn > .button-text {
    float: left;
    padding-right: 0;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*one buttone each line*/
#id_tab1 .panel-body > .btn-group:first-child {
    margin-bottom: 10px;
}
#id_tab1 .panel-body > .btn-group{
    width: 100%;
}
#id_tab1 .panel-body button.btn {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

/* text and caret in button */
#id_tab1 .panel-body button.btn > .caret {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}
#id_tab1 .panel-body button.btn > .button-text {
    float: left;
    padding-right: 0;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#id_wizard > .page-header {
    border-width: 2px;
    margin-top: 20px;
}

#id_wizard > .page-header > h1 > img{
    vertical-align: top;
    height: 42px;
}

#id_wizard .pager li > a {
    border-radius: 4px;
}

/*visualization*/
#id_visualization {
    min-height: 200px;
}

/*g.tick > text {
    opacity: 0.1;
}

g.tick > text:hover {
    opacity: 1;
    fill: red;
}*/